<div class="row">
  <div class="col-xl-12">
      <form class="form" (ngSubmit)="save()">
          <div class="form-group">
              <label for="id_username">&nbsp;&nbsp;Username</label>
              <input type="text" class="form-control" id="id_username" [(ngModel)]="admin.username" name="username"/>
          </div>
          <div class="form-group">
            <label for="id_email">&nbsp;&nbsp;Email</label>
            <input type="email" class="form-control" id="id_email" [(ngModel)]="admin.email" name="email"/>
        </div>
        <div class="form-group">
            <label for="id_user_type">&nbsp;&nbsp;User type</label>
            <select class="form-control"  id="id_user_type" [(ngModel)]="admin.userType" name = "userType" (change) = "onUserTypeChange($event.target.value)">
                <option value="0">--Select--</option>
                <option *ngFor="let ut of userTypes" value={{ut}}>{{ut}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="id_company">&nbsp;&nbsp;Company name</label>
            <select class="form-control" [(ngModel)]="admin.companyName" name = "companyName">
              <option value = ""> select company...</option>
              <option *ngFor="let name of data" [value]="name">{{name}}</option>
            </select>
        </div>
        <br/>
        <br/>
        <input type="submit" class="btn btn-primary btn-lg" value="Save"/>
        </form>
  </div>
</div>