body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 105vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 90px;
    max-width: 500px;
    height: 470px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  
  .ng-valid[required], .ng-valid.required  {
      border-left: 5px solid #42A948; /* green */
    }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  *[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
  