<body>
  <div id="roomReservation">
      <div class="container">
          <div id="roomReservation-row" class="row justify-content-center align-items-center">
              <div id="room_reservation-column" class="col-md-6">
                  <div id="roomReservation-box" class="col-md-12">
                      <form class="form" action="" method="post">
                          <h3 class="text-center text-info">New query</h3>
                          <div class="form-group">
                              <label for="dateFrom" class="text-info">DateFrom: </label><br>
                              <input type="date" min="this.currentDate" id="dateFrom" name="dateFrom" class="form-control" [(ngModel)]="this.roomQuery.dateFrom" />
                          </div>
                          <div class="form-group">
                              <label for="dateUntil" class="text-info">DateUntil: </label><br>
                              <input type="date" id="dateUntil" name="dateUntil" class="form-control"  [(ngModel)]="this.roomQuery.dateUntil">
                          </div>
                          <div class="form-group">
                            <label for="numOfBeds" class="text-info">Number of beds:</label><br>
                            <input type="number" min = "1" max = "8" id="numOfBeds" name="numOfBeds" class="form-control"  [(ngModel)]="this.roomQuery.numberOfBeds">
                        </div>
                          <div class="form-group">
                              <button (click)="checkDate()"  class="btn btn-primary">Check available rooms</button> 
                          </div>                            
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>



