<form class="form-horizontal" action='' method="POST">
 
  <div class="control-group">
    <!-- Model -->
    <label class="control-label"  for="number">Flight number</label>
    <div class="controls">
      <input type="text" id="number" name="number" class="input-xlarge" [(ngModel)]="this.flight.flightNumber">
    </div>
  </div>

  <div class="control-group">
    <!-- E-mail -->
    <label class="control-label" for="airplaneModel">Airplane model</label>
    <div class="controls">
      <input type="text" id="airplaneModel" name="airplaneModel" class="input-xlarge" [(ngModel)]="this.flight.airplaneModel">
    </div>
  </div>

  <div class="control-group">
    <!-- E-mail -->
    <label class="control-label" for="fromAirportId">From airport id</label>
    <div class="controls">
      <input type="text" id="fromAirportId" name="fromAirportId" class="input-xlarge" [(ngModel)]="this.flight.fromAirportId">
    </div>
  </div>

  <div class="control-group">
    <!-- E-mail -->
    <label class="control-label" for="toAirportId">To airport id</label>
    <div class="controls">
      <input type="text" id="toAirportId" name="toAirportId" class="input-xlarge" [(ngModel)]="this.flight.toAirportId">
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <label>Date from:</label>
      <input class="form-control" placeholder="yyyy-mm-dd"
              name="departureDateTime" [(ngModel)]="this.fromDate" ngbDatepicker #d1="ngbDatepicker" (focus)="d1.open()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
      </div>
    </div>


    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="timeFrom">Time from</label>
      <div class="controls">
        <input type="text" id="timeFrom" name="timeFrom" class="input-xlarge" [(ngModel)]="timeFrom">
      </div>
    </div>


  </div>


  <div class="form-group">
    <div class="input-group">
      <label>Date to:</label>
      <input class="form-control" placeholder="yyyy-mm-dd"
              name="arrivalDateTime" [(ngModel)]="this.toDate" ngbDatepicker #d2="ngbDatepicker" (focus)="d2.open()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
      </div>
    </div>


    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="timeTo">Time to</label>
      <div class="controls">
        <input type="text" id="timeTo" name="timeTo" class="input-xlarge" [(ngModel)]="timeTo">
      </div>
    </div>
  </div>


  <div class="control-group">
    <!-- Button -->
    <div class="controls">
      <button (click)='addFlight()' class="btn btn-success">Add flight</button>
    </div>
  </div>
</form>

