<div id = "searchDiv">
  <input type="text" id="search" name="search" class="form-control" placeholder="Search&hellip;" [(ngModel)]="this.searchParam">
  <button (click)='searchHotels()' class="btn btn-warning">Search name </button>
  <button (click)='searchHotelsCity()' class="btn btn-success">Search city </button>
  <button (click)='getHotels()' class="btn btn-success">See all hotels</button>
</div>
<div>  <h4 *ngIf="!hotels || hotels.length===0">&nbsp;&nbsp;There are currently no hotels.</h4>
</div>
<div class="table-responsive" *ngIf="hotels && hotels.length > 0">
  <br>
    <div *ngFor="let hotel of hotels" >
        <div class="card" >
                <div class="card-header">
                        Hotel name: &nbsp;&nbsp; {{hotel.name}}
                </div>
              <p class="card-text">
                      Description: &nbsp;&nbsp; {{hotel.description}}
              </p>
              <p class="card-text" >
                    Stars: &nbsp;&nbsp; {{hotel.stars}}  
              </p>
                <p class="card-text">
                    City: &nbsp;&nbsp; {{hotel.city}}
                </p>    
                <p class="card-text">
                    State: &nbsp;&nbsp; {{hotel.state}}
                </p>
                <p class="card-text">
                    Street: &nbsp;&nbsp; {{hotel.street}}
                </p>
                <button id="show_rooms" class="btn btn-primary" (click)="reserveRoom(hotel.name)"> Reserve</button>
                <br>
      </div>
  </div>
</div>